/* swiper-custom.css */

/* Change arrow color */
.swiper-button-next,
.swiper-button-prev {
  color: #b91c1c; /* Tailwind's red-800 in HEX */
}

/* Change pagination dot color */
.swiper-pagination-bullet {
  background-color: #b91c1c; /* Tailwind's red-800 in HEX */
  opacity: 0.5; /* Default opacity */
}

.swiper-pagination-bullet-active {
  background-color: #b91c1c; /* Tailwind's red-800 in HEX */
  opacity: 1; /* Full opacity for active dot */
}
